*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inknut Antiqua";
    src: url(https://fonts.google.com/?preview.size=23&query=Inknut+Antiqua);
}
.full_body{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vmin;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh; 
}
.left_coloumn{
    min-height: 100%; 
    width: 30%;
    background: linear-gradient(180deg, #ED1C24 0%, rgba(183, 32, 46, 0.84) 100%);

}
.right_coloumn{
    width: 100%;
    position: relative;
}

.logo{
    height: 87.78%;
    width: 60%;
}
.logo_img{
    width: 5rem;
    height: 5rem;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    background: rgba(80, 105, 193, 1);
    

}

.logo_wrapper{
    width: 100%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    padding-left:5%;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.name{
    /* font-size: 110%; */
    padding-left: 3%;
    font-family: "Inknut Antiqua";
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: center;
   
}
.gradeinsihgt{
    font-size: 250%;
    font-family: "Inknut Antiqua";
    font-weight: 400;
  
}
  
  .logo{
    height: 87.78%;
    width: 60%;
}
.header_wrapper{
  width:100%;
  }
.header{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly ;
  align-content:center;
}
.logout{
    height:50%;
    width:70% ;
    padding-top:5%;
    justify-items: center;
    float:right;
    cursor: pointer;
}
.nav{
  width: 100%;
  height:3.5em ;
  background-color:#5069C1 ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top:2%;
  place-content: center;
  place-items: center;
  border: 2px black solid ;
  font-size: xx-large;
  color: black;
  text-decoration: none;

}

   table{
      
      width: 2%;


    }
    a:hover , a:active{
      color: aliceblue;
    }
  .sendmail{
   
    position: fixed;
    bottom:2%;
    right:0.6%;
    
  
  }

    #mail{
    border-radius:0.5em ;
    font-weight: bold;
    width: 100% ;
    height:30% ;
    background-color: #5069C1;
    font-size:1.5em ;
    border:black solid ;
    cursor: pointer;
    }
    #upload{
      width:25% ;
      height:7% ;
      margin-top:5% ;
      margin-left:6% ;
      background-color:whitesmoke;
      border:black solid ;
      font-size:1.5em ;
      font-weight: bold;
      border-radius:5% ;
      letter-spacing:2% ;
      box-shadow:2px 2px;
    }
    .Radiobutton{
      display: flex;
      flex-direction:row ;
      align-content: center;
      justify-content:space-around ;
      width:100%;
      font-size:1.5em;
      padding:2.5%;
      font-weight:bold;
      color: black;
    }
    

    canvas{
      display: grid;
      place-items: center;
    }
  
   /* Desktop PC view */
  
   @media (min-width : 992px ) {
   
    .col-lg-4 {
      width: 33.33%;
      float: left;
      }
  }
  /* Tablet PC view */
  @media (min-width: 768px) and (max-width: 991px) {
   
    .col-md-6 {
      width: 50%;
      float: left;
    }
    .col-md-12 {
      width: 100%;
      float: left;
    }
    .nav{
      font-size:1em;
    }
  }
  /* Cell phone view */
  @media (max-width: 767px)  {
    
    .col-sx-12 {
      float: left;
      width: 100%;
    }
    .upload{
      display:none;
    }
    .header_wrapper{
      font-size:50%;
    }
    .logo_img{
      width:50%;
      height:80%;
    }
    .nav{
       font-size:80%;
    }
    table{
      max-width: 2em !important;
    }
    .data{
      overflow-x: auto;
      
    }
    .tablesss{
      max-width: 100% !important;
      overflow-x: auto;
    }
  }

#data-table{
  width: 20%;
}

.data{
  border-spacing: 0;
}

.nav>a{
  width: 100%;
  height: max-content;
  border-right: 1px  solid black;
  
}

a.tableform, a.home, a.graph{
  height: 3.5em;
  border: 1px  solid black ;
  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: center;
}