<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRAG AND DROP</title>
    <link rel="stylesheet" href="static/dragdrop.css">
</head>
<body>
    <form action = "/fileupload/{{course_id}}" method = "post" enctype="multipart/form-data">
        <label class="droparea" type="file" name="file">Drop the File Here(only excel File)</label>
        <input type = "submit" value="Upload">
    </form>
       
</body>
<script src="static/dragdrop.js"></script>
</html>